<!DOCTYPE html>
<html>
<head>
  <title>SportsCheckins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>





<H1>
	SportsCheckins.com!
</H1>
What Arena are you going to tonight?

<%= select_tag(:City_id, options_for_select([['Bars', 'bars'],['Restaurants', 'restaurants'],['Ice Cream', 'ice cream']])) %>

<%= form_tag(controller: "venues", action: "search", method: "get") do %>
  <%= label_tag(:venue, "Find deals near the arena of your choice:") %>
  <%= text_field_tag(:venue) %>
  <%= submit_tag("Search") %>
<% end %>

<%= yield %>

<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end %>

</body>
</html>
